# Application Configuration
APP_ENV=development
PORT=8080

# Database Configuration
BLUEPRINT_DB_HOST=localhost
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=taskscheduler
BLUEPRINT_DB_USERNAME=postgres
BLUEPRINT_DB_PASSWORD=password123
BLUEPRINT_DB_SCHEMA=public